1. Selected Columns

df = pd.read_excel(file_location,sheet_name='Sheet1', usecols="A,C,F")
2. Range of Columns and selected column

df = pd.read_excel(file_location,sheet_name='Sheet1', usecols="A:F,H")
3. Multiple Ranges

df = pd.read_excel(file_location,sheet_name='Sheet1', usecols="A:F,H,J:N")
4. Range of columns

df = pd.read_excel(file_location,sheet_name='Sheet1', usecols="A:N")

In [1]:
import pandas as pd
import numpy as np

In [13]:

file_loc = "Book1.xlsx"
df = pd.read_excel(file_loc, sheet_name= 'Sheet1', na_values=['NA'], usecols = "A")
print(df)

           Date
0    1995-04-04
1    1995-04-05
2    1995-04-06
3    1995-04-07
4    1995-04-10
...         ...
6606 2021-06-30
6607 2021-07-01
6608 2021-07-02
6609 2021-07-06
6610 2021-07-07

[6611 rows x 1 columns]

In [3]:

file_loc = "Book1.xlsx"
df = pd.read_excel(file_loc, sheet_name= 'Sheet1', na_values=['NA'], usecols = "A:C")
print(df)

           Date         Low        Open
0    1995-04-04    2.812500    2.937500
1    1995-04-05    2.843750    2.906250
2    1995-04-06    2.843750    2.843750
3    1995-04-07    2.843750    2.906250
4    1995-04-10    2.843750    2.843750
...         ...         ...         ...
6606 2021-06-30  113.620003  114.620003
6607 2021-07-01  114.900002  114.900002
6608 2021-07-02  115.050003  116.180000
6609 2021-07-06  112.660004  116.040001
6610 2021-07-07  114.629997  114.949997

[6611 rows x 3 columns]

In [12]:
df_1 = pd.read_excel(file_loc, sheet_name= 'Sheet1',index_col='Low')
df

           Date         Low        Open
0    1995-04-04    2.812500    2.937500
1    1995-04-05    2.843750    2.906250
2    1995-04-06    2.843750    2.843750
3    1995-04-07    2.843750    2.906250
4    1995-04-10    2.843750    2.843750
...         ...         ...         ...
6606 2021-06-30  113.620003  114.620003
6607 2021-07-01  114.900002  114.900002
6608 2021-07-02  115.050003  116.180000
6609 2021-07-06  112.660004  116.040001
6610 2021-07-07  114.629997  114.949997

[6611 rows x 3 columns]