In [89]:
import pandas  as pd 
import numpy as np

In [90]:
df = pd.read_excel('Alrawanaq Perfume_12_01_2022_.xlsx')
df['Original Price'] = df['Original Price'].str.rsplit().str[0]
df['Discounted Price'] = df['Discounted Price'].str.rsplit().str[0]
# df['Original Price'] = pd.to_numeric(df['Original Price'])

In [91]:
# df['Original Price']  =df['Original Price
# df.info()
df['Original Price'] =df['Original Price'].astype(float)
df['Discounted Price']  = df['Discounted Price'].fillna(0)
df['Discounted Price'] = pd.to_numeric(df['Discounted Price'], errors="coerce")

df.to_excel("test.xlsx")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Product URL             222 non-null    object
 1   Brand                   222 non-null    object
 2   Product Category        222 non-null    object
 3   Sub Category            0 non-null      float64
 4   Product Name            222 non-null    object
 5   Individual/Set          0 non-null      float64
 6   Unit No.                0 non-null      float64
 7   Original Price          222 non-null    object
 8   Discounted Price        89 non-null     object
 9   Currency                0 non-null      float64
 10  Product Description     222 non-null    object
 11  SKU                     0 non-null      float64
 12  Product Size            0 non-null      float64
 13  Product Size Unit       0 non-null      float64
 14  Origins                 0 non-null      float64
 15  Gender                  0 non-null      float64
 16  Type                    0 non-null      float64
 17  Promotion Availability  222 non-null    object
 18  Type of Promotion       0 non-null      float64
 19  Discount %              0 non-null      float64
 20  Weight                  180 non-null    object
dtypes: float64(12), object(9)
memory usage: 36.5+ KB