In [1]:
import mysql.connector

### Checking Python driver connection with MySQL

In [2]:
mydb = mysql.connector.connect(
host = "localhost",
user = "edyoda",
passwd = "Abcd@1234"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x04F046D0>

### Building cursor object

In [3]:
mycursor = mydb.cursor()

In [4]:
mycursor.execute("CREATE DATABASE PythonDB")

### Connecting to new database

In [3]:
mydb = mysql.connector.connect(
host = "localhost",
user = "edyoda",
passwd = "Abcd@1234",
database = "PythonDB"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x04F04BD0>

### Build cursor object for executing SQL command

In [6]:
mycursor = mydb.cursor()

### Create table Product in Database

In [8]:
mycursor.execute("CREATE TABLE Product (ProductID int PRIMARY KEY, Name varchar(30), Description varchar(255))")

### Insert data into this table

In [9]:
mycursor = mydb.cursor()

sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = (1, "Book", "Shoe Dog")

In [10]:
mycursor.execute(sql, val)

In [11]:
mydb.commit()

In [12]:
mycursor = mydb.cursor()

sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = (2, "Shoe", "Reebok")

In [13]:
mycursor.execute(sql, val)

In [14]:
mydb.commit()

In [16]:
val3 = (3, "Shoe", "Adidas")
val4 = (4, "Shoe", "Nike")

mycursor.execute(sql, val3)
mycursor.execute(sql, val4)

In [17]:
mydb.commit()

In [4]:
mycursor = mydb.cursor()

sql = "INSERT INTO Product (ProductID, Name, Description) VALUES (%s, %s, %s)"
val = (5, "Book", "Harry Potter")

In [5]:
mycursor.execute(sql, val)

In [6]:
mydb.commit()

In [7]:
val = ((6, "Book", "The notebook"), (7, "Book", "Steve Jobs"))

In [8]:
mycursor.executemany(sql, val)

In [9]:
mydb.commit()

### Show list of products

In [10]:
mycursor.execute("SELECT * FROM Product;")

In [11]:
product = mycursor.fetchall()

In [12]:
for prod in product:
    print(prod)

(1, 'Book', 'Shoe Dog')
(2, 'Shoe', 'Reebok')
(3, 'Shoe', 'Adidas')
(4, 'Shoe', 'Nike')
(5, 'Book', 'Harry Potter')
(6, 'Book', 'The notebook')
(7, 'Book', 'Steve Jobs')

### Delete a product

In [16]:
sql = "DELETE FROM Product WHERE Name = 'Shoe'"

In [17]:
mycursor.execute(sql)

In [18]:
mydb.commit()