In [1]:
a = 10
b = 20

In [3]:
def mysum(a,b):
    return a + b

In [14]:
mysum(15,20)

35

In [ ]:
def mymult(a,b):
    return a * b

In [18]:
mymult(10,10)

100

In [19]:
res = mymult(5,5)

In [21]:
res

25

In [22]:
def mycal(a,b):
    mult = mymult(a,b)
    msum = mysum(a,b)
    return mult,msum

In [25]:
mult, msum = mycal(5,5)

In [27]:
mult

25

In [29]:
msum

10

In [49]:
def checkEven(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [50]:
checkEven(22)

True

In [51]:
def mysum(a,b):
    return a + b

In [58]:
def myMainCode(num1,num2):
    checkEven = checkEvenNumber(num1)
    
    if checkEven:
        res = mymult(num1,num2)
    
    else:
        res = mysum(num1,num2)
        
    return res

In [62]:
myMainCode(11,10)

21

### Jack and Jill Game

In [130]:
value = 0

def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [131]:
i = 0

while i < 10:
    jackFunc()
    i += 1

In [132]:
value

20

In [124]:
i = 0

while i < 10:
    jillFunc()
    i += 1

In [133]:
value

20

In [2]:
value = 0

def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [3]:
i = 0

while i < 10:
    value = jackFunc(value)
    i += 1

In [4]:
value

20

### Problem: Check if string contains a vowel

In [32]:
def checkIfWordContains(word, checkalpha):
    for char in word:
        if char in checkalpha:
            return True
    return False

In [33]:
checkIfWordContains("shahbaz", "aeiou")

True

In [34]:
def printWordTimes(word, times):
    for t in range(times):
        print(word)

In [35]:
def myUtilityCode(word, checkalpha, times):
    check = checkIfWordContains(word, checkalpha)
    if check:
        print(word)
    else:
        printWordTimes(word, times)

In [37]:
myUtilityCode("shahbaz", "xy", 4)

shahbaz
shahbaz
shahbaz
shahbaz

### Default Params

In [42]:
def printMyDetails(name, age, location="Rajasthan"):
    print(name,age,location)

In [40]:
printMyDetails("Shahbaz",3,"Jodhpur")

Shahbaz 3 Jodhpur

In [44]:
printMyDetails("Shahbaz",3)

Shahbaz 3 Rajasthan

### Named Parameters

In [45]:
def printMyDetails(name, age, location="Rajasthan"):
    print(name,age,location)

In [47]:
printMyDetails(age=3, name="Shahbaz", location="Jodhpur")

Shahbaz 3 Jodhpur

### Variable Arguments
* Packing

In [48]:
def mySum(*args):
    sum = 0
    for value in args:
        sum += value
    return sum

In [50]:
mySum(1,2,3,4)

10

In [52]:
def mySum(*args):
    return sum(args)

In [54]:
mySum(1,2,3)

6

* Unpacking

In [55]:
l = ["Jodhpur", 7, "Shahbaz"]

In [56]:
def printMyDetails(loc, age, name):
    print(loc, name, age)

In [58]:
printMyDetails(*l)

Jodhpur Shahbaz 7

### Named Packing

In [60]:
def myFunc(name, loc, age):
    if name == "abc":
        print(name)
    else:
        print(loc,age)

In [62]:
myFunc("abc", "Jodhpur", 3)

abc

In [68]:
def myFunc(**kwargs):
    print(kwargs)
    
    if kwargs["name"] == "abc":
        print(kwargs["name"])
    else:
        print(kwargs["loc"], kwargs["age"])
        
    if "name" in kwargs:
        print(kwargs["name"])

In [70]:
myFunc(loc="Jodhpur", age=3, name="Shahbaz", color="Brown")

{'loc': 'Jodhpur', 'age': 3, 'name': 'Shahbaz', 'color': 'Brown'}
Jodhpur 3
Shahbaz

### Problem : Multiply all the even numbers

In [80]:
def myMultFunc(*args):
    res = 1
    for value in args:
        if value % 2 == 0:
            res *= value
            print(res)
    return res

In [81]:
myMultFunc(10,13,16,17,18,21,24)

10
160
2880
69120

69120