In [ ]:
# Importing required Packages
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

In [ ]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

# Pivot Table

In [ ]:
## Read data from below url and store into a variable named df
url ="https://raw.githubusercontent.com/SR1608/Pandas/main/students_marks.csv"

df = pd.read_csv(url)
df

### Inputs Parameters<br><br>

<li><b>Data :</b> Dataframe <br>
<li><b>index :</b> Key<br>
<li><b>Columns :</b> Header<br>
<li><b>Values :</b> Column name to be used to fill values in the value<br>
<li><b>aggfunc :</b> Function to be used e.g. mean,sum,median etc<br>

In [ ]:
Image('pivot.png')

In [ ]:
## Read data from below url and store into a variable named df
url = 'https://raw.githubusercontent.com/edyoda/data-science-complete-tutorial/master/Data/gapminder-FiveYearData.csv'

df=pd.read_csv(url)

In [ ]:
df

### Create a pivot table with country as index,year as columns and fill the table with life exp as values

### Create a pivot table with continent as index,year as columns and fill the table with pop as values

# Stacking & Unstacking

## Stack

Stack() Function in dataframe stacks the column to rows at level 1 (default).

In [ ]:
Image('stack.png')

## Unstack
unstack() Function in dataframe unstacks the row to columns . Basically itâ€™s a reverse of stacking

In [ ]:
Image("unstack.png")

#  Date Parameter

In [ ]:
## Read data from below url and store into a variable named df
url ='https://raw.githubusercontent.com/SR1608/Pandas/main/students_dob.csv'
df = pd.read_csv(url)
df

### Extract year,month,days from DOB

### Calculate Age of each student

## This is the data given as a dictionary

In [ ]:
# Create an example dataframe about a fictional army
raw_data = {'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia'],
            'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3]}

##  Set the 'origin' colum as the index of the dataframe

## Sort the dataframe by company

## Sort the dataframe by deaths

# Fitering columns

## Based on names/labels

### Print the name of all the columns.

### Print only the column battles

### Print the columns 'regiment' and 'deaths'

## Based on type

### Print dtypes of all columns

### Select columns of only object type

### Select columns of only int type

## Based on conditions

### Select rows where df.deaths is greater than 50

### Select rows where df.deaths is greater than 500 or less than 50

### Select all the regiments  equal to "Scouts"

### Select all the regiments not equal "Dragoons"

# Filtering rows using loc & iloc

## LOC func - Use loc[ ] to choose rows and columns by label.

**loc is label-based, which means that you have to specify rows and columns based on their row and column labels**

### Select the rows called Texas and Arizona

## ILOC func - Use iloc[ ] to choose rows and columns by position.

**iloc is integer index based, so you have to specify rows and columns by their integer index**

### Select the first 3 rows

# Filtering both rows & columns using loc & iloc

### Select the 'Alaska' from index and 'deaths' from columns

### Select the 'Maine' and 'Alaska' from index and 'deaths', 'size' and 'deserters' from columns

### Select the rows 3 to 7 and the columns 3 to 6

### Select every row after the fourth row and all columns

###  Select every row up to the 4th row and all columns

### Select the 3rd column up to the 7th column