In [ ]:
# Importing required Packages
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")
from IPython.display import Image

In [ ]:
# Read Loan Dataset
df = pd.read_csv("train.csv")
df.head()

## Feature Engineering

### Create a new feature : Total_Income = Applicant Income + Coapplicant Income

In [ ]:
df['Total_Income'] = df['ApplicantIncome'] + df['CoapplicantIncome']

In [ ]:
del df['ApplicantIncome']

In [ ]:
del df['CoapplicantIncome']

In [ ]:
df.head()

In [ ]:
pd.crosstab(df['Property_Area'],df['Credit_History'],normalize='index')

### Create a new feature : Loan Amount to Total Income

In [ ]:
## Loan Amount to Total Income Ratio

df['LTI'] = df['LoanAmount'] / df['Total_Income']

In [ ]:
df.head()

### Create a new feature : Income group by binning Total income <br>

**Condition :** <br>
<li>If total income is less than 5000 -------------------------> Low Income group <br>
<li>If total income is more than 5000 but less than 10000 -----> Medium Income group <br>
<li>If total income is more than 10000 ------------------------> High Income group

In [ ]:
df.shape[0]

In [ ]:
df['Total_Income'].head()

In [ ]:
def income_group(x):
    if x < 7000 : return "Low_Income_group"
    elif (x > 7000) & (x < 10000) : return "Medium_Income_group"
    else : return "High_Income_group"

In [ ]:
df['Income_group'] = df['Total_Income'].apply(income_group)

### Create a new feature : Stable group by using Multiple columns <br>

**Condition :** <br>
<li>If a applicant is married,graduate and not self employed ----> Stable <br>
<li> Else  ---------------------------------------------------------------> Unstable

In [ ]:
df.head()

In [ ]:
def stable_group(x):
    
    if (x['Married'] == "Yes") & (x['Education'] == 'Graduate') & (x['Self_Employed']=="No"):
        return "Stable_group"
    else: return "Unstable_group"

In [ ]:
df['Stable_group'] = df.apply(stable_group ,axis = 1)

In [ ]:
df[['Married','Education','Self_Employed','Stable_group']]

## Group By

A groupby operation involves some combination of splitting the object, applying a function, and combining the results. This can be used to group large amounts of data and compute operations on these groups.

### Load data and assign it to a variable called drinks.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'

In [ ]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

drinks = pd.read_csv(url)

In [ ]:
drinks.head()

In [ ]:
drinks['continent'].value_counts()

### Inputs Parameters<br><br>

<li><b>Primary key column name :</b><br>
<li><b>Target column :</b> <br>
<li><b>agg func :</b> min ; max ; mean ; median etc<br>

### Which continent drinks more beer on average?

In [ ]:
drinks.groupby('continent').max()

### Which continent drinks minimum wine ?

In [ ]:
drinks.groupby('continent').wine_servings.min()

### Which continent drinks max alcohol ?

In [ ]:
drinks.groupby('continent').total_litres_of_pure_alcohol.max()

## Exercise

Read data from below url :
#url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"
#sep = '|'
#index_col ='user_id'

df_test = pd.read_csv(url,sep="|",index_col='user_id)

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

### In each Occupation ,what is the average age ?

### In each gender ,what is the min age ?

### For each combination of occupation and gender, calculate the mean age ?

## Join two dataframes

### Using Concatenate function

In [ ]:
Div_1 = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']})


Div_2 = pd.DataFrame({
        'roll_no': ['6', '7', '8', '9', '10'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']})

In [ ]:
Div_1

In [ ]:
Div_2

#### Join both the tables on top of each other

In [ ]:
pd.concat([Div_1,Div_2] , axis = 0)

### New Data

In [ ]:
English

In [ ]:
Maths

In [ ]:
pd.concat([English,Maths['maths']],axis=1)

#### Join both the subjects marks

In [ ]:
English = pd.DataFrame({
        'roll_no': ['2', '1', '3', '4', '5','6'],
#         'name': ['Amy', 'Alex', 'Allen', 'Alice', 'Ayoung','Rahul'], 
        'english': [56,78,65,89,94,88]})


Maths = pd.DataFrame({
        'roll_no': ['1', '2', '3', '4', '5','7'],
#         'name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung','Ganesh'], 
        'maths': [65,26,78,59,75,87]})

In [ ]:
English

In [ ]:
Maths

## Merge

### Inputs Parameters<br><br>

<li><b>Left dataframe :</b> 1st Dataframe <br>
<li><b>Right dataframe :</b> 2nd Dataframe <br>
<li><b>on :</b> Primary key<br>
<li><b>how :</b> inner/outer/left/right<br>

In [ ]:
pd.merge(English,Maths, on = 'roll_no',how='right')

In [ ]:
Image('joins.png')