# Pandas

### Why Pandas

Pandas is one of the most powerful data manipulation tools out there but when a data scientist can leverage the power of indexing to his advantage, it makes pandas the best data manipulation tool out there!

### DataFrame Basics

*Dataframe* is a main object in Pandas. What’s cool about Pandas is that it takes data (like a CSV or JSON file, or a SQL database) and creates a Python object with **rows** and **columns**. It is used to reprsent data with rows and columns (tabular or excel spreadsheet like data).

### 6 Parts of Pandas
Importing Data and Reading Data
Summarizing Data (Statistics)
Manipulating Data / Cleaning Data
Selecting Data / Subsetting Data
Grouping and Filtering Data
Combining Datasets

# Getting Started

## Import Libraries

# Read and write csv file

Pandas: Use for data manipulation and data analysis.
Numpy: fundamental package for scientific computing with Python.
Matplotlib and Seaborn : For plotting and visualization.
Scikit-learn : For the data preprocessing techniques and algorithms.

# Pandas Data Structure<br>

<li>Series
<li>DataFrame

## High Level Data Understanding`

## Functions

***
These functions are the most common tools used when trying to summarize your data

- **df.head(n)** — Returns the first n rows of your DataFrame. Having a blank argument will display the first 5 by default
- **df.tail(n)** — Returns the last n rows of your DataFrame. Having a blank argument will display the last 5 by default
- **df.shape()** — Displays the number of rows and columns in your DataFrame
- **df.describe()** — Dispalys a statistical summary for numerical columns
- **df.describe(include=['object'])** —  Displays a statistical summary for all object (string) columns
- **df.describe(include='all')**  —  Displays a statistical summary for all columns
- **df.mean()** — Returns the mean of all columns
- **df.median()** — Returns the median of all columns
- **df.std()** — Returns the standard deviation of all columns
- **df.max()** — Returns the highest value in each column
- **df.min()** — Returns the lowest value in each column
- **df.dtypes** - Returns the data types of each colulmn

Different types of variables are Categorical, ordinal and numerical.

**Categorical features:** These features have categories (Gender, Married, Self_Employed, Credit_History, Loan_Status)

**Ordinal features:** Variables in categorical features having some order involved (Dependents, Education, Property_Area)

**Numerical features:** These features have numerical values (ApplicantIncome, CoapplicantIncome, LoanAmount, Loan_Amount_Term)

In [4]:
import pandas as pd

df= pd.read_csv('data_01.csv')

# test= test.drop('Married',  axis=1,inplace=True)


#  drop single column

# df = df.drop(columns=['column_nameA', 'column_nameB'])

df_1=df.drop(['Maxpulse','Calories'], axis=1)

# to delete multiple column

print(df)
print(df_1)

df_1.to_csv('myDataFrame.csv')

print("this is new file ")
df_2= pd.read_csv('myDataFrame.csv')

df_2

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
     Duration  Pulse
0          60    110
1          60    117
2          60    103
3          45    109
4          45    117
..        ...    ...
164        60    105
165        60    110
166        60    115
167        75    120
168        75    125

[169 rows x 2 columns]
this is new file

     Unnamed: 0  Duration  Pulse
0             0        60    110
1             1        60    117
2             2        60    103
3             3        45    109
4             4        45    117
..          ...       ...    ...
164         164        60    105
165         165        60    110
166         166        60    115
167         167        75    120
168         168        75    125

[169 rows x 3 columns]

# Read and write Excel File

In [29]:
import pandas as pd

df= pd.read_csv('data_01.csv')


df_1=df.drop(['Maxpulse','Calories'], axis=1)

# to delete multiple column

print(df)
print(df_1)


print("Excel file is generated ")

df_1.to_excel('file_02.xlsx')

print("Print Excel file")

df_03= pd.read_excel('file_02.xlsx')
df_03

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]
     Duration  Pulse
0          60    110
1          60    117
2          60    103
3          45    109
4          45    117
..        ...    ...
164        60    105
165        60    110
166        60    115
167        75    120
168        75    125

[169 rows x 2 columns]
Excel file is generated
Print Excel file

     Unnamed: 0  Duration  Pulse
0             0        60    110
1             1        60    117
2             2        60    103
3             3        45    109
4             4        45    117
..          ...       ...    ...
164         164        60    105
165         165        60    110
166         166        60    115
167         167        75    120
168         168        75    125

[169 rows x 3 columns]

# Get column's Name

In [5]:
df.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

## iloc allows to access raws by intiger location

In [7]:
df.iloc[0]

Duration     60.0
Pulse       110.0
Maxpulse    130.0
Calories    409.1
Name: 0, dtype: float64

In [ ]:
pass a list of index to select multiple rows

In [10]:
df.iloc[[0,1,2]]

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0

In [ ]:
to filter by index in pandas data frame,(iloc)
pass list of argument as list to filter more than 1 row and to filter column pass list 
of column to filter data 

Eg.   pd.iloc([Row_Index_01,Row_index_02,Row_index_03],[column_index_1],[column_index_2],[column_Iindex_3])

In [13]:
df.iloc[[0,1,2],[1,2]]

   Pulse  Maxpulse
0    110       130
1    117       145
2    103       135

## loc allows to access data by label

In [ ]:
to filter by label in pandas data frame,(loc)
pass list of argument as label to filter more than 1 row and to filter column pass list 
of column to filter data 

Eg.   pd.loc([Row_label_01,Row_lavel_02,Row_label_03],[column_label_1],[column_label_2],[column_label_3])

In [14]:
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [16]:
df.loc[[0,1,2],['Pulse', 'Maxpulse']]

   Pulse  Maxpulse
0    110       130
1    117       145
2    103       135

In [18]:
df['Pulse'].value_counts

<bound method IndexOpsMixin.value_counts of 0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64>

In [35]:
df.loc[1,'Pulse']

117

In [38]:
df.loc[[1,2,3],'Pulse']

1    117
2    103
3    109
Name: Pulse, dtype: int64

In [48]:
df.loc[1:3,'Duration':'Maxpulse']

   Duration  Pulse  Maxpulse
1        60    117       145
2        60    103       135
3        45    109       175

In [42]:
df.loc[1:3,['Pulse','Duration']]

   Pulse  Duration
1    117        60
2    103        60
3    109        45



## to string is used to print complet data frame

In [30]:
import  pandas as pd

df= pd.read_csv("AAC.csv")

#print(df)
# to string is used to print compplet data frame

print(df.to_string())

          Date    Low    Open   Volume    High   Close  Adjusted Close
0   25-03-2021  9.520   9.950   117100   9.950   9.870           9.870
1   26-03-2021  9.750   9.850   158300   9.960   9.960           9.960
2   29-03-2021  9.500   9.700    53600   9.902   9.780           9.780
3   30-03-2021  9.800   9.800    52300   9.850   9.830           9.830
4   31-03-2021  9.750   9.750    78600   9.900   9.900           9.900
5   01-04-2021  9.740   9.980   151900   9.980   9.770           9.770
6   05-04-2021  9.810   9.820   208100  10.000  10.000          10.000
7   06-04-2021  9.800   9.860   242900   9.870   9.850           9.850
8   07-04-2021  9.770   9.870   250200   9.870   9.860           9.860
9   08-04-2021  9.810   9.830    59800   9.920   9.890           9.890
10  09-04-2021  9.840   9.866    18400   9.889   9.875           9.875
11  12-04-2021  9.880   9.880    20200   9.950   9.950           9.950
12  13-04-2021  9.900   9.990   126600   9.990   9.910           9.910
13  14-04-2021  9.890   9.910   458400   9.930   9.900           9.900
14  15-04-2021  9.820   9.900   251400   9.920   9.870           9.870
15  16-04-2021  9.830   9.910    29200   9.910   9.830           9.830
16  19-04-2021  9.800   9.850   438100   9.865   9.840           9.840
17  20-04-2021  9.740  10.000   165100  10.000   9.810           9.810
18  21-04-2021  9.770   9.800   342800   9.810   9.800           9.800
19  22-04-2021  9.780   9.780    69200   9.820   9.800           9.800
20  23-04-2021  9.790   9.800   195300   9.810   9.810           9.810
21  26-04-2021  9.780   9.790    86100   9.860   9.800           9.800
22  27-04-2021  9.791   9.840   109500   9.869   9.800           9.800
23  28-04-2021  9.790   9.840   139800   9.840   9.800           9.800
24  29-04-2021  9.805   9.810    58500   9.860   9.820           9.820
25  30-04-2021  9.750   9.810   901500   9.870   9.830           9.830
26  03-05-2021  9.800   9.870  2208200   9.870   9.810           9.810
27  04-05-2021  9.810   9.830   406200   9.849   9.830           9.830
28  05-05-2021  9.820   9.830    64700   9.850   9.830           9.830
29  06-05-2021  9.800   9.820   340400   9.860   9.810           9.810
30  07-05-2021  9.800   9.810    95800   9.860   9.825           9.825
31  10-05-2021  9.820   9.880    76100   9.880   9.860           9.860
32  11-05-2021  9.780   9.810   594500   9.860   9.840           9.840
33  12-05-2021  9.830   9.840  1527500   9.895   9.880           9.880
34  13-05-2021  9.790   9.820   377600   9.890   9.790           9.790
35  14-05-2021  9.760   9.820   165500   9.830   9.820           9.820
36  17-05-2021  9.760   9.820    71500   9.820   9.760           9.760
37  18-05-2021  9.750   9.760   529800   9.790   9.770           9.770
38  19-05-2021  9.750   9.780   592200   9.820   9.790           9.790
39  20-05-2021  9.770   9.780    53500   9.800   9.770           9.770
40  21-05-2021  9.780   9.790   391900   9.790   9.780           9.780
41  24-05-2021  9.760   9.760    36600   9.820   9.800           9.800
42  25-05-2021  9.790   9.800    59400   9.860   9.810           9.810
43  26-05-2021  9.780   9.800   226700   9.855   9.820           9.820
44  27-05-2021  9.810   9.830    84300   9.855   9.850           9.850
45  28-05-2021  9.770   9.830    29600   9.840   9.770           9.770
46  01-06-2021  9.760   9.770  1352500   9.860   9.820           9.820
47  02-06-2021  9.790   9.820   673100   9.860   9.790           9.790
48  03-06-2021  9.800   9.820   183700   9.850   9.850           9.850
49  04-06-2021  9.770   9.850    53900   9.850   9.770           9.770
50  07-06-2021  9.770   9.810  1878500   9.820   9.780           9.780
51  08-06-2021  9.770   9.800   498400   9.840   9.810           9.810
52  09-06-2021  9.778   9.810   214000   9.830   9.780           9.780
53  10-06-2021  9.770   9.790    45500   9.820   9.790           9.790
54  11-06-2021  9.790   9.820    22100   9.820   9.800           9.800
55  14-06-2021  9.778   9.810    49600   9.810   9.790           9.790
56  15-06-2021  9.780   9.790    53300   9.820   9.800           9.800
57  16-06-2021  9.760   9.790   116700   9.800   9.760           9.760
58  17-06-2021  9.750   9.760    18200   9.770   9.760           9.760
59  18-06-2021  9.750   9.766    25900   9.770   9.750           9.750
60  21-06-2021  9.760   9.790    10700   9.790   9.760           9.760
61  22-06-2021  9.750   9.750    38600   9.790   9.760           9.760
62  23-06-2021  9.760   9.780   375900   9.790   9.770           9.770
63  24-06-2021  9.760   9.760   172000   9.790   9.790           9.790
64  25-06-2021  9.790   9.800  1886000   9.870   9.870           9.870
65  28-06-2021  9.740   9.840   763400   9.860   9.800           9.800
66  29-06-2021  9.720   9.740    64300   9.810   9.770           9.770
67  30-06-2021  9.750   9.760    19800   9.790   9.750           9.750
68  01-07-2021  9.750   9.750    65700   9.770   9.750           9.750
69  02-07-2021  9.740   9.760    72800   9.760   9.750           9.750
70  06-07-2021  9.730   9.730    47000   9.760   9.750           9.750
71  07-07-2021  9.740   9.730     6640   9.750   9.750           9.750

## Load from jason

In [92]:
import  pandas as pd

df = pd.read_json('data.json')


# print(d

# show complete data
print(df.to_string())

# if the number of rows is not specified, the head() method will return the top 5 rows.
print(df.head())

# Get a quick overview by printing the first 10 rows of the DataFrame:

print(df.head(10))


# get data from end of data frame


print(df.tail())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.5
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.5
37         60    100       120     300.1
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.1
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0
     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# Replacing values

In [94]:
import pandas as pd

df = pd.read_csv('data.csv')

#In our example, it is most likely a typo, and the value should be
# "45" instead of "450", and we could just insert "45" in row 7:

#Set "Duration" = 45 in row 7:

df.loc[7, 'Duration'] = 45


#To replace wrong data for larger data sets you can create some rules,
# e.g. set some boundaries for legal values, and replace any values that are outside of the boundaries.

# Loop through all values in the "Duration" column.
# If the value is higher than 120, set it to 120:

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120


# Removing Rows

# This way you do not have to find out what to replace them with, and there is a good chance you do not need them to do your analyses.

# Delete rows where "Duration" is higher than 120:

#---------------------

for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)


#Removing Duplicates
# Returns True for every row that is a duplicate, othwerwise False:

print(df.duplicated())


# To remove duplicates, use the drop_duplicates() method

# Remember: The (inplace = True) will make sure that the method does NOT return a new
# DataFrame, but it will remove all duplicates from the original DataFrame.

df.drop_duplicates(inplace = True)

0      False
1      False
2      False
3      False
4      False
       ...
164    False
165    False
166    False
167    False
168    False
Length: 169, dtype: bool

## cleaing the emplty cell

In [ ]:
import  pandas as pd

df= pd.read_csv("data.csv")

#print(df)
#print(df.to_string()


# Note: By default, the dropna() method returns a new DataFrame, and will not change the original.
# Note: Now, the dropna(inplace = True) will NOT return a new DataFrame, but it will remove all rows
# containg NULL values from the original DataFrame.

new_df= df.dropna()
# print(new_df)


# Replace Empty Values

# This way you do not have to delete entire rows just because of some empty cells.
# The fillna() method allows us to replace empty cells with a value:

fill_new_data = df.fillna(120,inplace=True)

print(fill_new_data)
# Replace Only For a Specified Columns
#df['calories'].fillna(100, inplace=True)

# Replace Using Mean, Median, or Mode
x= df['calories'].mean()

#Pandas uses the mean() median() and mode() methods to calculate the respective values for a specified column:

df['calories'].fillna(x,inplace=True)

# FILTER

## create data frame

In [50]:
import pandas as pd

dataSet ={
    'bike': ['yahama','honda','suzuki'],
    'speed': [120,150,180]
}

bike_data= pd.DataFrame(dataSet)
print(bike_data)

# locate row  use loc.

# get sinngle record

print("\n")
print("# get single record")
print(bike_data.loc[2])

# get multiple record
#note use 2 dimensional array

print("\n")
print("# get multiple record")
print(bike_data.loc[[0,1,2]])


# indexing data frame  <Indexing to row numbers>
dataSet_1 ={
    'bike': ['yahama','honda','suzuki'],
    'speed': [120,150,180]
}
 
bike_data_1= pd.DataFrame(dataSet_1, index=['alpha','beta','theta'])
print(bike_data_1)

print("\n")
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

     bike  speed
0  yahama    120
1   honda    150
2  suzuki    180


# get single record
bike     suzuki
speed       180
Name: 2, dtype: object


# get multiple record
     bike  speed
0  yahama    120
1   honda    150
2  suzuki    180
         bike  speed
alpha  yahama    120
beta    honda    150
theta  suzuki    180


0    1
1    7
2    2
dtype: int64

# create lable

In [45]:
import  pandas as pd

listA = [10,30,40,49]

# with the help of index, provide index for items.
series = pd.Series(listA,index=['a','b','c','d'])
print(series)


# When label created you can access an item by referring to the label.
print(series["a"])

a    10
b    30
c    40
d    49
dtype: int64
10

## indexing

In [79]:
import  pandas as pd
df= pd.read_csv("data.csv")
df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [90]:
filt_1 =(df['Pulse']==110)
df[filt_1]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
6          60    110       136     374.0
61        160    110       137    1034.4
64         20    110       130     131.4
77         45    110       141     300.0
149        60    110       150     409.4
165        60    110       145     300.0

In [93]:

df.loc[filt_1,'Pulse']

0      110
6      110
61     110
64     110
77     110
149    110
165    110
Name: Pulse, dtype: int64

In [95]:
# apply multiple condition to filter data.

filt = (df['Duration']== 60 ) & (df['Pulse'] ==110)

df.loc[filt,'Calories']

0      409.1
6      374.0
149    409.4
165    300.0
Name: Calories, dtype: float64


## Negete the filter

In [97]:
filt = (df['Duration']== 60 ) & (df['Pulse'] ==110)

df.loc[-filt,'Calories']

1      479.0
2      340.0
3      282.4
4      406.0
5      300.0
       ...
163    280.9
164    290.8
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 165, dtype: float64

## data from dict to data frame

In [73]:
import pandas as pd
# Create a simple Pandas Series from a dictionary:

dict_series= {'Student_name':"Stark","stu_class": 5,'stu_section': 'C'}

data_ser= pd.DataFrame(dict_series)

data_ser

# data_ser.set_index('Student',inplace=True)

ValueError: If using all scalar values, you must pass an index

If indexinng is done accidently, and want to reset

In [60]:
df.reset_index(inplace=True)

In [112]:
import pandas as pd
df= pd.read_csv('corey/developer_survey_2019/survey_results_public.csv')

df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [101]:
schema_df = pd.read_csv('corey/developer_survey_2019/survey_results_schema.csv')

schema_df

          Column                                       QuestionText
0     Respondent  Randomized respondent ID number (not in order ...
1     MainBranch  Which of the following options best describes ...
2       Hobbyist                            Do you code as a hobby?
3    OpenSourcer        How often do you contribute to open source?
4     OpenSource  How do you feel about the quality of open sour...
..           ...                                                ...
80     Sexuality  Which of the following do you currently identi...
81     Ethnicity  Which of the following do you identify as? Ple...
82    Dependents  Do you have any dependents (e.g., children, el...
83  SurveyLength  How do you feel about the length of the survey...
84    SurveyEase  How easy or difficult was this survey to compl...

[85 rows x 2 columns]

# Filter

In [ ]:
for setting the the values in table use loc method

In [ ]:
#Note : Use mathmetical operation in gilter tab
high_salary=  (df['ConvertedComp']> 5000) & (df['Student']== 'No')

In [119]:
high_salary=  (df['ConvertedComp']> 5000) & (df['Student']== 'No')

df.loc[high_salary]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88324,88877,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,48.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88325,88878,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88326,88879,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Finland,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88328,88881,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Austria,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,NaN,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88330,88883,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Greece,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,33.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy

In [120]:
countries = ['United States','India','United Kingdom','Germany','Canada']

In [122]:
filt= df['Country'].isin(countries)

In [123]:
df.loc[filt,'Country']

0        United Kingdom
3         United States
5                Canada
7                 India
9                 India
              ...
88859     United States
88863    United Kingdom
88864             India
88877     United States
88878            Canada
Name: Country, Length: 45008, dtype: object

# update data

In [124]:
import pandas as pd

dataSet ={
    'bike': ['yahama','honda','suzuki'],
    'speed': [120,150,180]
}

bike_data= pd.DataFrame(dataSet)
print(bike_data)

     bike  speed
0  yahama    120
1   honda    150
2  suzuki    180

In [127]:
bike_data.columns

Index(['bike', 'speed'], dtype='object')

In [128]:
bike_data.columns=['bike_company','max_speed']

In [129]:
bike_data.columns

Index(['bike_company', 'max_speed'], dtype='object')

In [ ]:
update columns in upper case

In [131]:
bike_data.columns=[x.upper() for x in bike_data.columns]
bike_data

  BIKE_COMPANY  MAX_SPEED
0       yahama        120
1        honda        150
2       suzuki        180

In [ ]:
change all _ to spaces

In [134]:
bike_data.columns = bike_data.columns.str.replace('_', ' ')

In [135]:
bike_data

  BIKE COMPANY  MAX SPEED
0       yahama        120
1        honda        150
2       suzuki        180

In [136]:
bike_data.columns = bike_data.columns.str.replace( ' ','_')
bike_data

  BIKE_COMPANY  MAX_SPEED
0       yahama        120
1        honda        150
2       suzuki        180

In [ ]:
rename column name

In [139]:
bike_data.rename(columns={'BIKE_COMPANY': 'Bike','MAX_SPEED':'Speed'}, inplace=True)

In [140]:
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2  suzuki    180

In [141]:
bike_data.loc[2] =['Bajaj',200]

In [142]:
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2   Bajaj    200

In [158]:
bike_data.loc[2,['Speed']]

Speed    200
Name: 2, dtype: object

In [159]:
bike_data.loc[2,['Speed']] =250

In [ ]:
we can use " at " in place of loc

In [162]:
bike_data.at[2,['Speed']] =300
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2   Bajaj    300

In [160]:
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2   Bajaj    250

#### change data from lower to upper case

In [166]:
bike_data['Bike']= bike_data['Bike'].str.upper()

bike_data

     Bike  Speed
0  YAHAMA    120
1   HONDA    150
2   BAJAJ    300

In [ ]:
methos 

1. apply  --> works on data frame and series object
2. map  --> works on series , it applies on particular row/column/element
3. applymap  --> works for dataframe 
4. replace --> works on series , instead of using map use replace to update data.

df.rename(columns={ "column_name":'New_column_name'}, inplace=True)

#### apply on series function

In [167]:
bike_data['Bike'].apply(len)

0    6
1    5
2    5
Name: Bike, dtype: int64

In [169]:
def update_case(bike):
    return bike.lower()

In [ ]:
apply doesn't change data frame so we need to store in variable

In [172]:

bike_data['Bike'].apply(update_case)

0    yahama
1     honda
2     bajaj
Name: Bike, dtype: object

In [173]:
bike_data

     Bike  Speed
0  YAHAMA    120
1   HONDA    150
2   BAJAJ    300

In [174]:
bike_data['Bike']= bike_data['Bike'].apply(update_case)
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2   bajaj    300

### apply work on data frame

In [ ]:
when we apply 'apply' on data frame we ran function on each row and column

In [175]:
bike_data['Bike'].apply(len)

0    6
1    5
2    5
Name: Bike, dtype: int64

In [ ]:
apply len function to each series of data frame specifically columns means 
Bile row has 3 values 
Speed row has 3 values

In [176]:
bike_data.apply(len)

Bike     3
Speed    3
dtype: int64

In [179]:
bike_data.apply(len,axis= 'rows')

Bike     3
Speed    3
dtype: int64

In [180]:
bike_data.apply(len,axis= 'columns')

0    2
1    2
2    2
dtype: int64

In [ ]:
min values

In [182]:
bike_data.apply(pd.Series.min)

Bike     bajaj
Speed      120
dtype: object

In [190]:
bike_data.apply(lambda x: x.min())

Bike     bajaj
Speed      120
dtype: object

In [191]:
Applymap 
Apply a function every indivisual element in the data frame 
applymap works on data frame
series don't have apply map method

SyntaxError: invalid syntax (<ipython-input-191-39a26b5b2497>, line 1)

In [196]:
applymap give ereor with 
applymap(str.lower)   - error wtih int data
applymap(str.lower)  -- works fime for all element should not int or float data
                        works fime for string data type

applymap(len)  - error with int data 
applymap(len)  -- works fime for all element should not int or float data
                        works fime for string data type

SyntaxError: invalid syntax (<ipython-input-196-9be943c6b3ab>, line 1)

In [195]:
bike_data.applymap(len)

TypeError: object of type 'int' has no len()

## map

In [197]:
bike_data

     Bike  Speed
0  yahama    120
1   honda    150
2   bajaj    300

In [200]:
bike_data['Bike']= bike_data['Bike'].map({"Bike":'bike_name','Speed':"Speedddddd"})

bike_data

  Bike  Speed
0  NaN    120
1  NaN    150
2  NaN    300

## some exmaple with data

In [201]:
import pandas as pd
df= pd.read_csv('corey/developer_survey_2019/survey_results_public.csv')

In [ ]:
Que 1 replace all element from hobbyest column Yes to True

In [202]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [203]:
df['Hobbyist'].map({'Yes':True,'No':False})

0         True
1        False
2         True
3        False
4         True
         ...
88878     True
88879    False
88880    False
88881    False
88882     True
Name: Hobbyist, Length: 88883, dtype: bool

In [ ]:
update in data frame

In [204]:
df['Hobbyist']=df['Hobbyist'].map({'Yes':True,'No':False})

In [205]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,True,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,False,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",True,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,False,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,True,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88878,88377,NaN,True,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,False,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,False,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,False,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,True,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

### Add remove columns from data  frame and  combine multiple column in

In [227]:
import pandas as pd

dataSet ={
    'First_name': ['Vipin','Tony','JAck','Kaili'],
    'Last_name': ['chaudhary','Stark','Ma','Jenner'],
    'Python_Library': ['Pandas','','NumPy','MatpltLib'],
    'Marks':[12,2,67,3]
}

df= pd.DataFrame(dataSet)
print(df)

  First_name  Last_name Python_Library  Marks
0      Vipin  chaudhary         Pandas     12
1       Tony      Stark                     2
2       JAck         Ma          NumPy     67
3      Kaili     Jenner      MatpltLib      3

In [ ]:
combine First name and second name

In [228]:
df['Full_name']=df['First_name']+ ' '+ df['Last_name']

In [229]:
df

  First_name  Last_name Python_Library  Marks        Full_name
0      Vipin  chaudhary         Pandas     12  Vipin chaudhary
1       Tony      Stark                     2       Tony Stark
2       JAck         Ma          NumPy     67          JAck Ma
3      Kaili     Jenner      MatpltLib      3     Kaili Jenner

In [224]:
Drop column, make sure -->> inplace =True

Give single column name to drop single column or 
list of column name for multiple columns

SyntaxError: invalid syntax (<ipython-input-224-2999dbc8c86c>, line 1)

In [230]:
df.drop(columns=['First_name','Last_name'], inplace=True)

In [231]:
df

  Python_Library  Marks        Full_name
0         Pandas     12  Vipin chaudhary
1                     2       Tony Stark
2          NumPy     67          JAck Ma
3      MatpltLib      3     Kaili Jenner

## split column data

In [234]:
df['Full_name'].str.split(' ',expand=True)

       0          1
0  Vipin  chaudhary
1   Tony      Stark
2   JAck         Ma
3  Kaili     Jenner

In [236]:
df[['First_Name', 'Last_Name']] = df['Full_name'].str.split(' ',expand=True)

In [237]:
df

  Python_Library  Marks        Full_name First_Name  Last_Name
0         Pandas     12  Vipin chaudhary      Vipin  chaudhary
1                     2       Tony Stark       Tony      Stark
2          NumPy     67          JAck Ma       JAck         Ma
3      MatpltLib      3     Kaili Jenner      Kaili     Jenner

### second method 

df.append(('first':'Tony'),ignore_index= True)

Add two data frame```

In [240]:
import pandas as pd

dataSet ={
    'First_name': ['Vipin','Tony','JAck','Kaili'],
    'Last_name': ['chaudhary','Stark','Ma','Jenner'],
    'Python_Library': ['Pandas','','NumPy','MatpltLib'],
    'Marks':[12,2,67,3]
}
df= pd.DataFrame(dataSet)

In [239]:
import pandas as pd

dataSet_02 ={
    'First_name': ['Vipin','Tony','JAck'],
    'Last_name': ['chaudhary','Stark','Ma'],
    'Python_Library': ['Pandas','NumPy','MatpltLib'] 
}

df_2 = pd.DataFrame(dataSet_02)

In [242]:
df.append(df_2, ignore_index=True, sort=False)

  First_name  Last_name Python_Library  Marks
0      Vipin  chaudhary         Pandas   12.0
1       Tony      Stark                   2.0
2       JAck         Ma          NumPy   67.0
3      Kaili     Jenner      MatpltLib    3.0
4      Vipin  chaudhary         Pandas    NaN
5       Tony      Stark          NumPy    NaN
6       JAck         Ma      MatpltLib    NaN

permanently change data in data frmae

In [243]:
df= df.append(df_2, ignore_index=True, sort=False)

In [244]:
df

  First_name  Last_name Python_Library  Marks
0      Vipin  chaudhary         Pandas   12.0
1       Tony      Stark                   2.0
2       JAck         Ma          NumPy   67.0
3      Kaili     Jenner      MatpltLib    3.0
4      Vipin  chaudhary         Pandas    NaN
5       Tony      Stark          NumPy    NaN
6       JAck         Ma      MatpltLib    NaN

# sorting in pandas

In [ ]:
# Sort by single column
df-sort_values(by='column_name',ascending= False)

In [ ]:
# sort with multiple column, give a list of colummn name

df-sort_values(by=['First_Column','Second_column','Third_column'],ascending= False, inplace= True)

In [ ]:
# sort different coulmn as ascending , descinding , input list of boolen in ascending paramater

In [ ]:
df-sort_values(by=['First_Column','Second_column','Third_column'],ascending= [True, False, True], inplace= True)

In [ ]:
# sort with index

In [ ]:
# this function sort data with index
df.sort_index()

## convert date type and set indexing while importing from file

In [77]:
import pandas as pd




df = pd.read_csv('AAC.csv',index_col='Open')

df

df['Date'] = pd.to_datetime(df['Date'])


# # convert all cells in the 'Date' column into dates.
# pandas has a to_datetime() method for this
print(df.to_string())

# # we can remove the row by using the dropna() method

df.dropna(subset=['date'], inplace = True)

             Date    Low   Volume    High   Close  Adjusted Close
Open
9.950  2021-03-25  9.520   117100   9.950   9.870           9.870
9.850  2021-03-26  9.750   158300   9.960   9.960           9.960
9.700  2021-03-29  9.500    53600   9.902   9.780           9.780
9.800  2021-03-30  9.800    52300   9.850   9.830           9.830
9.750  2021-03-31  9.750    78600   9.900   9.900           9.900
9.980  2021-01-04  9.740   151900   9.980   9.770           9.770
9.820  2021-05-04  9.810   208100  10.000  10.000          10.000
9.860  2021-06-04  9.800   242900   9.870   9.850           9.850
9.870  2021-07-04  9.770   250200   9.870   9.860           9.860
9.830  2021-08-04  9.810    59800   9.920   9.890           9.890
9.866  2021-09-04  9.840    18400   9.889   9.875           9.875
9.880  2021-12-04  9.880    20200   9.950   9.950           9.950
9.990  2021-04-13  9.900   126600   9.990   9.910           9.910
9.910  2021-04-14  9.890   458400   9.930   9.900           9.900
9.900  2021-04-15  9.820   251400   9.920   9.870           9.870
9.910  2021-04-16  9.830    29200   9.910   9.830           9.830
9.850  2021-04-19  9.800   438100   9.865   9.840           9.840
10.000 2021-04-20  9.740   165100  10.000   9.810           9.810
9.800  2021-04-21  9.770   342800   9.810   9.800           9.800
9.780  2021-04-22  9.780    69200   9.820   9.800           9.800
9.800  2021-04-23  9.790   195300   9.810   9.810           9.810
9.790  2021-04-26  9.780    86100   9.860   9.800           9.800
9.840  2021-04-27  9.791   109500   9.869   9.800           9.800
9.840  2021-04-28  9.790   139800   9.840   9.800           9.800
9.810  2021-04-29  9.805    58500   9.860   9.820           9.820
9.810  2021-04-30  9.750   901500   9.870   9.830           9.830
9.870  2021-03-05  9.800  2208200   9.870   9.810           9.810
9.830  2021-04-05  9.810   406200   9.849   9.830           9.830
9.830  2021-05-05  9.820    64700   9.850   9.830           9.830
9.820  2021-06-05  9.800   340400   9.860   9.810           9.810
9.810  2021-07-05  9.800    95800   9.860   9.825           9.825
9.880  2021-10-05  9.820    76100   9.880   9.860           9.860
9.810  2021-11-05  9.780   594500   9.860   9.840           9.840
9.840  2021-12-05  9.830  1527500   9.895   9.880           9.880
9.820  2021-05-13  9.790   377600   9.890   9.790           9.790
9.820  2021-05-14  9.760   165500   9.830   9.820           9.820
9.820  2021-05-17  9.760    71500   9.820   9.760           9.760
9.760  2021-05-18  9.750   529800   9.790   9.770           9.770
9.780  2021-05-19  9.750   592200   9.820   9.790           9.790
9.780  2021-05-20  9.770    53500   9.800   9.770           9.770
9.790  2021-05-21  9.780   391900   9.790   9.780           9.780
9.760  2021-05-24  9.760    36600   9.820   9.800           9.800
9.800  2021-05-25  9.790    59400   9.860   9.810           9.810
9.800  2021-05-26  9.780   226700   9.855   9.820           9.820
9.830  2021-05-27  9.810    84300   9.855   9.850           9.850
9.830  2021-05-28  9.770    29600   9.840   9.770           9.770
9.770  2021-01-06  9.760  1352500   9.860   9.820           9.820
9.820  2021-02-06  9.790   673100   9.860   9.790           9.790
9.820  2021-03-06  9.800   183700   9.850   9.850           9.850
9.850  2021-04-06  9.770    53900   9.850   9.770           9.770
9.810  2021-07-06  9.770  1878500   9.820   9.780           9.780
9.800  2021-08-06  9.770   498400   9.840   9.810           9.810
9.810  2021-09-06  9.778   214000   9.830   9.780           9.780
9.790  2021-10-06  9.770    45500   9.820   9.790           9.790
9.820  2021-11-06  9.790    22100   9.820   9.800           9.800
9.810  2021-06-14  9.778    49600   9.810   9.790           9.790
9.790  2021-06-15  9.780    53300   9.820   9.800           9.800
9.790  2021-06-16  9.760   116700   9.800   9.760           9.760
9.760  2021-06-17  9.750    18200   9.770   9.760           9.760
9.766  2021-06-18  9.750    25900   9.770   9.750           9.750
9.790  2021-06-21  9.760    10700   9.790   9.760           9.760
9.750  2021-06-22  9.750    38600   9.790   9.760           9.760
9.780  2021-06-23  9.760   375900   9.790   9.770           9.770
9.760  2021-06-24  9.760   172000   9.790   9.790           9.790
9.800  2021-06-25  9.790  1886000   9.870   9.870           9.870
9.840  2021-06-28  9.740   763400   9.860   9.800           9.800
9.740  2021-06-29  9.720    64300   9.810   9.770           9.770
9.760  2021-06-30  9.750    19800   9.790   9.750           9.750
9.750  2021-01-07  9.750    65700   9.770   9.750           9.750
9.760  2021-02-07  9.740    72800   9.760   9.750           9.750
9.730  2021-06-07  9.730    47000   9.760   9.750           9.750
9.730  2021-07-07  9.740     6640   9.750   9.750           9.750

KeyError: ['date']

# Remove row by dropna()

In [91]:
import pandas as pd

df = pd.read_csv('AAC.csv')

df

df['Date'] = pd.to_datetime(df['Date'])


# # convert all cells in the 'Date' column into dates.
# pandas has a to_datetime() method for this
print(df.to_string())

# # we can remove the row by using the dropna() method

df_13= df.dropna(subset=['Date'], inplace = True)
df_13

         Date    Low    Open   Volume    High   Close  Adjusted Close
0  2021-03-25  9.520   9.950   117100   9.950   9.870           9.870
1  2021-03-26  9.750   9.850   158300   9.960   9.960           9.960
2  2021-03-29  9.500   9.700    53600   9.902   9.780           9.780
3  2021-03-30  9.800   9.800    52300   9.850   9.830           9.830
4  2021-03-31  9.750   9.750    78600   9.900   9.900           9.900
5  2021-01-04  9.740   9.980   151900   9.980   9.770           9.770
6  2021-05-04  9.810   9.820   208100  10.000  10.000          10.000
7  2021-06-04  9.800   9.860   242900   9.870   9.850           9.850
8  2021-07-04  9.770   9.870   250200   9.870   9.860           9.860
9  2021-08-04  9.810   9.830    59800   9.920   9.890           9.890
10 2021-09-04  9.840   9.866    18400   9.889   9.875           9.875
11 2021-12-04  9.880   9.880    20200   9.950   9.950           9.950
12 2021-04-13  9.900   9.990   126600   9.990   9.910           9.910
13 2021-04-14  9.890   9.910   458400   9.930   9.900           9.900
14 2021-04-15  9.820   9.900   251400   9.920   9.870           9.870
15 2021-04-16  9.830   9.910    29200   9.910   9.830           9.830
16 2021-04-19  9.800   9.850   438100   9.865   9.840           9.840
17 2021-04-20  9.740  10.000   165100  10.000   9.810           9.810
18 2021-04-21  9.770   9.800   342800   9.810   9.800           9.800
19 2021-04-22  9.780   9.780    69200   9.820   9.800           9.800
20 2021-04-23  9.790   9.800   195300   9.810   9.810           9.810
21 2021-04-26  9.780   9.790    86100   9.860   9.800           9.800
22 2021-04-27  9.791   9.840   109500   9.869   9.800           9.800
23 2021-04-28  9.790   9.840   139800   9.840   9.800           9.800
24 2021-04-29  9.805   9.810    58500   9.860   9.820           9.820
25 2021-04-30  9.750   9.810   901500   9.870   9.830           9.830
26 2021-03-05  9.800   9.870  2208200   9.870   9.810           9.810
27 2021-04-05  9.810   9.830   406200   9.849   9.830           9.830
28 2021-05-05  9.820   9.830    64700   9.850   9.830           9.830
29 2021-06-05  9.800   9.820   340400   9.860   9.810           9.810
30 2021-07-05  9.800   9.810    95800   9.860   9.825           9.825
31 2021-10-05  9.820   9.880    76100   9.880   9.860           9.860
32 2021-11-05  9.780   9.810   594500   9.860   9.840           9.840
33 2021-12-05  9.830   9.840  1527500   9.895   9.880           9.880
34 2021-05-13  9.790   9.820   377600   9.890   9.790           9.790
35 2021-05-14  9.760   9.820   165500   9.830   9.820           9.820
36 2021-05-17  9.760   9.820    71500   9.820   9.760           9.760
37 2021-05-18  9.750   9.760   529800   9.790   9.770           9.770
38 2021-05-19  9.750   9.780   592200   9.820   9.790           9.790
39 2021-05-20  9.770   9.780    53500   9.800   9.770           9.770
40 2021-05-21  9.780   9.790   391900   9.790   9.780           9.780
41 2021-05-24  9.760   9.760    36600   9.820   9.800           9.800
42 2021-05-25  9.790   9.800    59400   9.860   9.810           9.810
43 2021-05-26  9.780   9.800   226700   9.855   9.820           9.820
44 2021-05-27  9.810   9.830    84300   9.855   9.850           9.850
45 2021-05-28  9.770   9.830    29600   9.840   9.770           9.770
46 2021-01-06  9.760   9.770  1352500   9.860   9.820           9.820
47 2021-02-06  9.790   9.820   673100   9.860   9.790           9.790
48 2021-03-06  9.800   9.820   183700   9.850   9.850           9.850
49 2021-04-06  9.770   9.850    53900   9.850   9.770           9.770
50 2021-07-06  9.770   9.810  1878500   9.820   9.780           9.780
51 2021-08-06  9.770   9.800   498400   9.840   9.810           9.810
52 2021-09-06  9.778   9.810   214000   9.830   9.780           9.780
53 2021-10-06  9.770   9.790    45500   9.820   9.790           9.790
54 2021-11-06  9.790   9.820    22100   9.820   9.800           9.800
55 2021-06-14  9.778   9.810    49600   9.810   9.790           9.790
56 2021-06-15  9.780   9.790    53300   9.820   9.800           9.800
57 2021-06-16  9.760   9.790   116700   9.800   9.760           9.760
58 2021-06-17  9.750   9.760    18200   9.770   9.760           9.760
59 2021-06-18  9.750   9.766    25900   9.770   9.750           9.750
60 2021-06-21  9.760   9.790    10700   9.790   9.760           9.760
61 2021-06-22  9.750   9.750    38600   9.790   9.760           9.760
62 2021-06-23  9.760   9.780   375900   9.790   9.770           9.770
63 2021-06-24  9.760   9.760   172000   9.790   9.790           9.790
64 2021-06-25  9.790   9.800  1886000   9.870   9.870           9.870
65 2021-06-28  9.740   9.840   763400   9.860   9.800           9.800
66 2021-06-29  9.720   9.740    64300   9.810   9.770           9.770
67 2021-06-30  9.750   9.760    19800   9.790   9.750           9.750
68 2021-01-07  9.750   9.750    65700   9.770   9.750           9.750
69 2021-02-07  9.740   9.760    72800   9.760   9.750           9.750
70 2021-06-07  9.730   9.730    47000   9.760   9.750           9.750
71 2021-07-07  9.740   9.730     6640   9.750   9.750           9.750

In [95]:
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p17',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']


# Grouping and Aggregating

In [245]:
import pandas as pd
df= pd.read_csv('corey/developer_survey_2019/survey_results_public.csv', index_col='Respondent')

## Grouping and Aggregates

In [258]:
import pandas as pd
df= pd.read_csv('corey/developer_survey_2019/survey_results_public.csv', index_col='Respondent')


schema_df = pd.read_csv('corey/developer_survey_2019/survey_results_schema.csv', index_col='Column')

In [ ]:

pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [259]:
df

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,"Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [260]:
schema_df

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [261]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
11         NaN
12         NaN
13     90000.0
14     57060.0
15         NaN
Name: ConvertedComp, dtype: float64

Here we can apply algrabic or statics tools

In [262]:
median 
mode
max
min
avg 
standatd dav

SyntaxError: invalid syntax (<ipython-input-262-072545060709>, line 6)

In [263]:
df['ConvertedComp'].median()

57287.0

In [264]:
df.median()
# this find column that contain numeric value

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [266]:
# this give a broad overview of data 

df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [267]:
df.describe

<bound method NDFrame.describe of                                                    MainBranch Hobbyist  \
Respondent
1                      I am a student who is learning to code      Yes
2                      I am a student who is learning to code       No
3           I am not primarily a developer, but I write co...      Yes
4                              I am a developer by profession       No
5                              I am a developer by profession      Yes
...                                                       ...      ...
88377                                                     NaN      Yes
88601                                                     NaN       No
88802                                                     NaN       No
88816                                                     NaN       No
88863                                                     NaN      Yes

                                                  OpenSourcer  \
Respondent
1                                                       Never
2                                     Less than once per year
3                                                       Never
4                                                       Never
5                                  Once a month or more often
...                                                       ...
88377       Less than once a month but more than once per ...
88601                                                   Never
88802                                                   Never
88816                                                   Never
88863                                 Less than once per year

                                                   OpenSource  \
Respondent
1           The quality of OSS and closed source software ...
2           The quality of OSS and closed source software ...
3           The quality of OSS and closed source software ...
4           The quality of OSS and closed source software ...
5           OSS is, on average, of HIGHER quality than pro...
...                                                       ...
88377       The quality of OSS and closed source software ...
88601       The quality of OSS and closed source software ...
88802                                                     NaN
88816       OSS is, on average, of HIGHER quality than pro...
88863       OSS is, on average, of HIGHER quality than pro...

                                                   Employment  \
Respondent
1                      Not employed, and not looking for work
2                          Not employed, but looking for work
3                                          Employed full-time
4                                          Employed full-time
5                                          Employed full-time
...                                                       ...
88377                  Not employed, and not looking for work
88601                                                     NaN
88802                                      Employed full-time
88816       Independent contractor, freelancer, or self-em...
88863                  Not employed, and not looking for work

                           Country         Student  \
Respondent
1                   United Kingdom              No
2           Bosnia and Herzegovina  Yes, full-time
3                         Thailand              No
4                    United States              No
5                          Ukraine              No
...                            ...             ...
88377                       Canada              No
88601                          NaN             NaN
88802                          NaN             NaN
88816                          NaN             NaN
88863                        Spain  Yes, full-time

                                                      EdLevel  \
Respondent
1                                   Primary/elementary school
2           Secondary school (e.g. American high school, G...
3                    Bachelor’s degree (BA, BS, B.Eng., etc.)
4                    Bachelor’s degree (BA, BS, B.Eng., etc.)
5                    Bachelor’s degree (BA, BS, B.Eng., etc.)
...                                                       ...
88377                               Primary/elementary school
88601                                                     NaN
88802                                                     NaN
88816                                                     NaN
88863                      Professional degree (JD, MD, etc.)

                                               UndergradMajor  \
Respondent
1                                                         NaN
2                                                         NaN
3                               Web development or web design
4           Computer science, computer engineering, or sof...
5           Computer science, computer engineering, or sof...
...                                                       ...
88377                                                     NaN
88601                                                     NaN
88802                                                     NaN
88816                                                     NaN
88863       Computer science, computer engineering, or sof...

                                                     EduOther  ...  \
Respondent                                                     ...
1           Taught yourself a new language, framework, or ...  ...
2           Taken an online course in programming or softw...  ...
3           Taught yourself a new language, framework, or ...  ...
4           Taken an online course in programming or softw...  ...
5           Taken an online course in programming or softw...  ...
...                                                       ...  ...
88377       Taught yourself a new language, framework, or ...  ...
88601                                                     NaN  ...
88802                                                     NaN  ...
88816                                                     NaN  ...
88863       Taken an online course in programming or softw...  ...

                                       WelcomeChange  \
Respondent
1            Just as welcome now as I felt last year
2            Just as welcome now as I felt last year
3            Just as welcome now as I felt last year
4            Just as welcome now as I felt last year
5            Just as welcome now as I felt last year
...                                              ...
88377                                            NaN
88601                                            NaN
88802                                            NaN
88816                                            NaN
88863       Somewhat less welcome now than last year

                                                 SONewContent   Age Gender  \
Respondent
1           Tech articles written by other developers;Indu...  14.0    Man
2           Tech articles written by other developers;Indu...  19.0    Man
3           Tech meetups or events in your area;Courses on...  28.0    Man
4           Tech articles written by other developers;Indu...  22.0    Man
5           Tech meetups or events in your area;Courses on...  30.0    Man
...                                                       ...   ...    ...
88377       Tech articles written by other developers;Tech...   NaN    Man
88601                                                     NaN   NaN    NaN
88802                                                     NaN   NaN    NaN
88816                                                     NaN   NaN    NaN
88863       Tech articles written by other developers;Indu...  18.0    Man

           Trans                Sexuality  \
Respondent
1             No  Straight / Heterosexual
2             No  Straight / Heterosexual
3             No  Straight / Heterosexual
4             No  Straight / Heterosexual
5             No  Straight / Heterosexual
...          ...                      ...
88377         No                      NaN
88601        NaN                      NaN
88802        NaN                      NaN
88816        NaN                      NaN
88863         No  Straight / Heterosexual

                                                    Ethnicity Dependents  \
Respondent
1                                                         NaN         No
2                                                         NaN         No
3                                                         NaN        Yes
4                                White or of European descent         No
5                    White or of European descent;Multiracial         No
...                                                       ...        ...
88377                                                     NaN         No
88601                                                     NaN        NaN
88802                                                     NaN        NaN
88816                                                     NaN        NaN
88863       Hispanic or Latino/Latina;White or of European...         No

                     SurveyLength                  SurveyEase
Respondent
1           Appropriate in length  Neither easy nor difficult
2           Appropriate in length  Neither easy nor difficult
3           Appropriate in length  Neither easy nor difficult
4           Appropriate in length                        Easy
5           Appropriate in length                        Easy
...                           ...                         ...
88377       Appropriate in length                        Easy
88601                         NaN                         NaN
88802                         NaN                         NaN
88816                         NaN                         NaN
88863       Appropriate in length                        Easy

[88883 rows x 84 columns]>

In [ ]:
# count values is number of non na rows

In [270]:
df['ConvertedComp']

Respondent
1            NaN
2            NaN
3         8820.0
4        61000.0
5            NaN
          ...
88377        NaN
88601        NaN
88802        NaN
88816        NaN
88863        NaN
Name: ConvertedComp, Length: 88883, dtype: float64

In [268]:
df['ConvertedComp'].count()

55823

In [269]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [271]:
df['SocialMedia']

Respondent
1          Twitter
2        Instagram
3           Reddit
4           Reddit
5         Facebook
           ...
88377      YouTube
88601          NaN
88802          NaN
88816          NaN
88863     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [273]:
df['SocialMedia'].count()

84437

In [286]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

Group By: some combination of spliting the object and combinationmbining the result

In [280]:
df.groupby(['Country'])

In [283]:
country_group= df.groupby(['Country'])
country_group

In [285]:
country_group.get_group('United States')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78292,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A health science (ex. nursing, pharmacy, radio...",Completed an industry certification program (e...,...,Somewhat less welcome now than last year,NaN,60.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult

In [287]:
country_group.get_group('India')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Received on-the-job training in software devel...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",NaN,...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",Taken an online course in programming or softw...,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,Participated in a hackathon,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [290]:
filt= df['Country']  =='United States'

df.loc[filt]['SocialMedia'].value_counts()

Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [291]:
filt= df['Country']  =='India'

df.loc[filt]['SocialMedia'].value_counts()

WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
WeChat 微信                      5
Hello                          5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [292]:
country_group['SocialMedia'].value_counts()

Country      SocialMedia
Afghanistan  Facebook                    15
             YouTube                      9
             I don't use social media     6
             WhatsApp                     4
             Instagram                    1
                                         ..
Zimbabwe     Facebook                     3
             YouTube                      3
             Instagram                    2
             LinkedIn                     2
             Reddit                       1
Name: SocialMedia, Length: 1220, dtype: int64

In [293]:
country_group['SocialMedia'].value_counts().head(40)

Country              SocialMedia
Afghanistan          Facebook                     15
                     YouTube                       9
                     I don't use social media      6
                     WhatsApp                      4
                     Instagram                     1
                     LinkedIn                      1
                     Twitter                       1
Albania              WhatsApp                     18
                     Facebook                     16
                     Instagram                    13
                     YouTube                      10
                     Twitter                       8
                     LinkedIn                      7
                     Reddit                        6
                     I don't use social media      4
                     Snapchat                      1
                     WeChat 微信                     1
Algeria              YouTube                      42
                     Facebook                     41
                     Twitter                      14
                     LinkedIn                      9
                     I don't use social media      7
                     Instagram                     7
                     Reddit                        2
                     WhatsApp                      2
Andorra              Facebook                      2
                     I don't use social media      2
                     Reddit                        1
                     Snapchat                      1
                     YouTube                       1
Angola               Twitter                       2
                     Facebook                      1
                     YouTube                       1
Antigua and Barbuda  YouTube                       2
                     Facebook                      1
                     Instagram                     1
                     Twitter                       1
                     VK ВКонта́кте                 1
Argentina            WhatsApp                    202
                     Twitter                      80
Name: SocialMedia, dtype: int64

In [294]:
country_group['SocialMedia'].value_counts().loc['India']

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64

In [298]:
country_group['SocialMedia'].value_counts().loc['United States']

SocialMedia
Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [308]:
list_of_filter_countries = ['India', 'United States','China', 'Russian Federation']

In [310]:
for country in list_of_filter_countries:
    print(country_group['SocialMedia'].value_counts().loc[country])
    print('\n')

SocialMedia
WhatsApp                    2990
YouTube                     1820
LinkedIn                     955
Facebook                     841
Instagram                    822
Twitter                      542
Reddit                       473
I don't use social media     250
Snapchat                      23
Hello                          5
WeChat 微信                      5
VK ВКонта́кте                  4
Youku Tudou 优酷                 2
Weibo 新浪微博                     1
Name: SocialMedia, dtype: int64


SocialMedia
Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64


SocialMedia
WeChat 微信                   403
YouTube                      53
Weibo 新浪微博                   42
I don't use social media     27
Twitter                      27
Reddit                       12
LinkedIn                     11
Facebook                      8
Instagram                     7
Youku Tudou 优酷                7
WhatsApp                      3
VK ВКонта́кте                 1
Name: SocialMedia, dtype: int64


SocialMedia
VK ВКонта́кте               442
YouTube                     302
I don't use social media    155
Reddit                      140
Twitter                     130
Instagram                    94
WhatsApp                     90
Facebook                     67
LinkedIn                     35
Snapchat                      1
Name: SocialMedia, dtype: int64

In [325]:
country_group['ConvertedComp'].median(12)

Country
Afghanistan                               6222.0
Albania                                  10818.0
Algeria                                   7878.0
Andorra                                 160931.0
Angola                                    7764.0
                                          ...
Venezuela, Bolivarian Republic of...      6384.0
Viet Nam                                 11892.0
Yemen                                    11940.0
Zambia                                    5040.0
Zimbabwe                                 19200.0
Name: ConvertedComp, Length: 179, dtype: float64

In [326]:
country_group['ConvertedComp'].median().loc['Germany']

63016.0

# Agg

In [327]:
country_group['ConvertedComp'].agg(['median','mean'])

                                        median           mean
Country
Afghanistan                             6222.0  101953.333333
Albania                                10818.0   21833.700000
Algeria                                 7878.0   34924.047619
Andorra                               160931.0  160931.000000
Angola                                  7764.0    7764.000000
...                                        ...            ...
Venezuela, Bolivarian Republic of...    6384.0   14581.627907
Viet Nam                               11892.0   17233.436782
Yemen                                  11940.0   16909.166667
Zambia                                  5040.0   10075.375000
Zimbabwe                               19200.0   34046.666667

[179 rows x 2 columns]

In [328]:
country_group['ConvertedComp'].agg(['median','mean']).loc['India']

median    10080.000000
mean      28057.664916
Name: India, dtype: float64

In [329]:
# sum works for numeeric values 
# it also works with boolean , sum all values , boolean have true
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [330]:

country_group['LanguageWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

In [331]:
country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [334]:
country_respondents = df['Country'].value_counts()
country_respondents

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
Brunei Darussalam            1
Saint Kitts and Nevis        1
North Korea                  1
Tonga                        1
Timor-Leste                  1
Name: Country, Length: 179, dtype: int64

In [335]:
country_uses_python= country_group['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [336]:
country_uses_python

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [337]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                       Country  LanguageWorkedWith
United States            20949               10083
India                     9061                3105
Germany                   5866                2451
United Kingdom            5737                2384
Canada                    3395                1558
...                        ...                 ...
Brunei Darussalam            1                   0
Saint Kitts and Nevis        1                   0
North Korea                  1                   0
Tonga                        1                   0
Timor-Leste                  1                   1

[179 rows x 2 columns]

In [338]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [339]:
python_df

                       NumRespondents  NumKnowsPython
United States                   20949           10083
India                            9061            3105
Germany                          5866            2451
United Kingdom                   5737            2384
Canada                           3395            1558
...                               ...             ...
Brunei Darussalam                   1               0
Saint Kitts and Nevis               1               0
North Korea                         1               0
Tonga                               1               0
Timor-Leste                         1               1

[179 rows x 2 columns]

In [342]:
python_df['Per_Knows_Python'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython,Per_Knows_Python
United States,20949,10083,48.131176,48.131176
India,9061,3105,34.267741,34.267741
Germany,5866,2451,41.783157,41.783157
United Kingdom,5737,2384,41.554820,41.554820
Canada,3395,1558,45.891016,45.891016
...,...,...,...,...
Brunei Darussalam,1,0,0.000000,0.000000
Saint Kitts and Nevis,1,0,0.000000,0.000000
North Korea,1,0,0.000000,0.000000
Tonga,1,0,0.000000,0.000000
Timor-Leste,1,1,100.000000,100.000000

In [343]:

python_df.sort_values(by='Per_Knows_Python', ascending=False, inplace=True)

In [344]:
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython,Per_Knows_Python
Timor-Leste,1,1,100.000000,100.000000
Sao Tome and Principe,1,1,100.000000,100.000000
Niger,1,1,100.000000,100.000000
Dominica,1,1,100.000000,100.000000
Turkmenistan,7,6,85.714286,85.714286
...,...,...,...,...
Cape Verde,3,0,0.000000,0.000000
Malawi,2,0,0.000000,0.000000
Lao People's Democratic Republic,3,0,0.000000,0.000000
Gabon,2,0,0.000000,0.000000
Antigua and Barbuda,9,0,0.000000,0.000000

In [345]:
python_df.head(50)

,NumRespondents,NumKnowsPython,PctKnowsPython,Per_Knows_Python
Timor-Leste,1,1,100.000000,100.000000
Sao Tome and Principe,1,1,100.000000,100.000000
Niger,1,1,100.000000,100.000000
Dominica,1,1,100.000000,100.000000
Turkmenistan,7,6,85.714286,85.714286
Mauritania,7,5,71.428571,71.428571
Bahamas,3,2,66.666667,66.666667
Guinea,3,2,66.666667,66.666667
Guyana,3,2,66.666667,66.666667
Uganda,72,47,65.277778,65.277778
Iceland,49,30,61.224490,61.224490
Haiti,5,3,60.000000,60.000000
Benin,5,3,60.000000,60.000000
Namibia,5,3,60.000000,60.000000
"Congo, Republic of the...",7,4,57.142857,57.142857
Oman,11,6,54.545455,54.545455
Cuba,30,16,53.333333,53.333333
Republic of Korea,39,20,51.282051,51.282051
Monaco,4,2,50.000000,50.000000
San Marino,2,1,50.000000,50.000000
Bhutan,2,1,50.000000,50.000000
Sierra Leone,2,1,50.000000,50.000000
Seychelles,2,1,50.000000,50.000000
South Korea,160,80,50.000000,50.000000
Chile,206,102,49.514563,49.514563
Finland,546,266,48.717949,48.717949
Kenya,249,120,48.192771,48.192771
United States,20949,10083,48.131176,48.131176
Israel,952,457,48.004202,48.004202
Ecuador,82,39,47.560976,47.560976
Montenegro,17,8,47.058824,47.058824
Taiwan,187,88,47.058824,47.058824
Mongolia,17,8,47.058824,47.058824
Switzerland,978,460,47.034765,47.034765
United Republic of Tanzania,32,15,46.875000,46.875000
Hong Kong (S.A.R.),188,88,46.808511,46.808511
Japan,391,182,46.547315,46.547315
Maldives,13,6,46.153846,46.153846
Canada,3395,1558,45.891016,45.891016
Singapore,303,139,45.874587,45.874587
New Zealand,524,236,45.038168,45.038168
China,664,297,44.728916,44.728916
Honduras,27,12,44.444444,44.444444
France,2391,1054,44.081974,44.081974
Iraq,39,17,43.589744,43.589744
Thailand,214,92,42.990654,42.990654
Democratic Republic of the Congo,7,3,42.857143,42.857143
Nepal,237,101,42.616034,42.616034
Estonia,195,82,42.051282,42.051282
Russian Federation,1694,708,41.794569,41.794569

In [346]:

python_df.loc['Japan']

NumRespondents      391.000000
NumKnowsPython      182.000000
PctKnowsPython       46.547315
Per_Knows_Python     46.547315
Name: Japan, dtype: float64

## cleaning data and handling missing values

In [351]:
import pandas as pd
import numpy as np

In [352]:

people = {
    'first': ['Corey', 'Jane', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Schafer', 'Doe', 'Doe', 'Schafer', np.nan, np.nan, 'Missing'], 
    'email': ['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}


df = pd.DataFrame(people)

df.replace('NA', np.nan, inplace=True)
df.replace('Missing', np.nan, inplace=True)

In [354]:
df

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
4    NaN      NaN                      NaN  None
5   None      NaN      Anonymous@email.com  None
6    NaN      NaN                      NaN   NaN

dropna drops row , if any value in column is NaN

In [ ]:
df.dropna(axis='index', how='any')  
# this is default dropna()

In [358]:
df.dropna()

   first     last                    email age
0  Corey  Schafer  CoreyMSchafer@gmail.com  33
1   Jane      Doe        JaneDoe@email.com  55
2   John      Doe        JohnDoe@email.com  63

In [359]:
this drops rows, all values are NaN

SyntaxError: invalid syntax (<ipython-input-359-5fccbea7c860>, line 1)

In [ ]:
#dropna drops rows, if all value in rows is NaN

In [360]:
df.dropna(axis='index', how='all')

   first     last                    email   age
0  Corey  Schafer  CoreyMSchafer@gmail.com    33
1   Jane      Doe        JaneDoe@email.com    55
2   John      Doe        JohnDoe@email.com    63
3  Chris  Schafer                     None    36
5   None      NaN      Anonymous@email.com  None

In [ ]:
#dropna drops column , if all value in column is NaN
df.dropna(axis='columns', how='all')

In [ ]:

#dropna drops column , if any value in column is NaN
df.dropna(axis='columns', how='any')

## Box plot


It can be inferred that most of the data in the distribution of applicant income is towards left which means it is not normally distributed. We will try to make it normal in later sections as algorithms works better if the data is normally distributed.

The boxplot confirms the presence of a lot of outliers/extreme values. This can be attributed to the income disparity in the society. Part of this can be driven by the fact that we are looking at people with different education levels. Let us segregate them by Education: