1

In [ ]:

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        line = input().split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = scores
    query_name = input()
    marks=0
    for i in student_marks[query_name]:
        marks=marks+i
    avg=marks/3
    print("%.2f"%avg)

In [ ]:
2

In [ ]:


def split_and_join(line):
    #  your code here
    line2 = line.split(" ")
    #print(line2)
    
    line3= '-'.join(line2)
    
    return line3

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

In [ ]:
3

In [ ]:

N1 = int(input())
storage1 = set(input().split())
N2 = int(input())
storage2 = set(input().split())

storage3 = storage1.intersection(storage2)

storage4 = storage3.union(storage2)


print(len(storage3))

In [ ]:
4

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    print(sorted(list(set(arr)))[-2])

In [ ]:
5

def swap_case(s):
    #print(char)
    reverse =''

    for char in s:
        #print(char)
        if (char.islower()==True):
            reverse += char.upper()    
        elif (char.isupper()==True):
            reverse += char.lower()  
        else:
            reverse += char
    return reverse

if __name__ == '__main__':

In [ ]:
6

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    print(a+b)
    print(a-b)
    print(a*b)

In [ ]:
7

In [ ]:
if __name__ == '__main__':
    a = int(input())
    b = int(input())
    
    print(a//b)
    print(a/b)

11

In [ ]:
def is_leap(year):
    leap = False
    
    
    return leap

year = int(input())
print(is_leap(year))

In [ ]:
#loop 

if __name__ == '__main__':
    n = int(input())
    for i in range(n):
        print(i*i)