

###  Import the necessary libraries

In [54]:
import pandas as pd

### Create the DataFrame with the following values:

In [55]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Assign it to a variable called regiment.

In [56]:
regiment=pd.DataFrame(raw_data)
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [57]:
regiment.dtypes

regiment         object
company          object
name             object
preTestScore      int64
postTestScore     int64
dtype: object

### From each regiment,what is the mean preTestScore ?

In [58]:
regiment.groupby('regiment').agg({'preTestScore':'mean'})

            preTestScore
regiment
Dragoons           15.50
Nighthawks         15.25
Scouts              2.50

In [59]:
regiment.groupby('regiment').mean()['preTestScore']

regiment
Dragoons      15.50
Nighthawks    15.25
Scouts         2.50
Name: preTestScore, dtype: float64

### Present general statistics by company

In [60]:
regiment.groupby('company').agg({'preTestScore':'mean'})

         preTestScore
company
1st          6.666667
2nd         15.500000

### What is the mean of each company's preTestScore?

In [64]:
regiment.groupby('company').mean()['preTestScore']

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

###  Present the mean preTestScores grouped by regiment and company

In [65]:
regiment.groupby('regiment')

### Present the mean postTestScores grouped by regiment and company

In [66]:
regiment.groupby(['company','regiment']).mean()['postTestScore']

company  regiment
1st      Dragoons      47.5
         Nighthawks    59.5
         Scouts        66.0
2nd      Dragoons      75.5
         Nighthawks    59.5
         Scouts        66.0
Name: postTestScore, dtype: float64

In [67]:
regiment.groupby(['company','regiment']).mean()['postTestScore']

company  regiment
1st      Dragoons      47.5
         Nighthawks    59.5
         Scouts        66.0
2nd      Dragoons      75.5
         Nighthawks    59.5
         Scouts        66.0
Name: postTestScore, dtype: float64

### Group the entire dataframe by regiment and company

In [73]:
regiment.groupby(['regiment','company']).count()

                    name  preTestScore  postTestScore
regiment   company
Dragoons   1st         2             2              2
           2nd         2             2              2
Nighthawks 1st         2             2              2
           2nd         2             2              2
Scouts     1st         2             2              2
           2nd         2             2              2

### What is the number of observations in each regiment and company

In [74]:
regiment.groupby('regiment').nuniqu()

AttributeError: 'DataFrameGroupBy' object has no attribute 'nuniqu'