In [ ]:
Read and write with exeel 

use module 

xlrd      --> write in excel 

openpyxl  -->to read excel file in python
xlwt      --> xlrd module is used to extract data from a spreadsheet
SQLAlchemy-->SQl with python
psycopg2-binary

In [6]:
import pandas as pd 

# load data 
data = pd.read_csv('data.csv')

In [7]:
# get shape of data 
data.shape

(169, 4)

In [8]:
# get information about the csv file 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [9]:
# LIST column name 

data.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [16]:
# LIST Raws  name 

data.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [ ]:
# LIST Raws  name 
with loc and oiloc

In [17]:
data.iloc[3]

Duration     45.0
Pulse       109.0
Maxpulse    175.0
Calories    282.4
Name: 3, dtype: float64

In [20]:
data.loc[3]

Duration     45.0
Pulse       109.0
Maxpulse    175.0
Calories    282.4
Name: 3, dtype: float64

In [25]:
# getting details of particular column in this raw calles by loc or iloc 

data.loc[3][2]

175.0

In [26]:
#getting details of more than 1, pass list

   Duration  Pulse  Maxpulse  Calories
2        60    103       135     340.0
4        45    117       148     406.0

In [34]:
# access column with column's index  in "iloc"

data.iloc[[2,4],2]

2    135
4    148
Name: Maxpulse, dtype: int64

In [35]:
# access column with column name in "loc"

data.loc[[2,4],'Pulse']

2    103
4    117
Name: Pulse, dtype: int64

In [36]:
# access column with column name in "loc"

data.loc[[2,4],['Pulse','Calories']]

   Pulse  Calories
2    103     340.0
4    117     406.0

In [38]:
data['Pulse'].value_counts()

100    19
90     12
103     9
109     9
107     8
108     7
110     7
97      7
111     6
106     6
105     6
102     6
98      6
104     4
114     4
115     3
95      3
118     3
93      3
92      3
136     3
117     3
150     2
123     2
151     2
80      2
112     2
101     2
99      2
152     1
129     1
149     1
141     1
137     1
153     1
130     1
113     1
125     1
124     1
122     1
121     1
120     1
119     1
116     1
83      1
85      1
159     1
Name: Pulse, dtype: int64

In [ ]:

# Apply works with series function
# data_frame

# function can be len, user defined function.
df['filter_column'].apply(function)

In [ ]:
Applymap module works on data_frames

In [4]:

import pandas as pd

df = pd.read_csv('train.csv')



df.duplicated().sum()

0

# Missing values

In [5]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df[df['Gender'].isna()]

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
23,LP001050,NaN,Yes,2,Not Graduate,No,3365,1917.0,112.0,360.0,0.0,Rural,N
126,LP001448,NaN,Yes,3+,Graduate,No,23803,0.0,370.0,360.0,1.0,Rural,Y
171,LP001585,NaN,Yes,3+,Graduate,No,51763,0.0,700.0,300.0,1.0,Urban,Y
188,LP001644,NaN,Yes,0,Graduate,Yes,674,5296.0,168.0,360.0,1.0,Rural,Y
314,LP002024,NaN,Yes,0,Graduate,No,2473,1843.0,159.0,360.0,1.0,Rural,N
334,LP002103,NaN,Yes,1,Graduate,Yes,9833,1833.0,182.0,180.0,1.0,Urban,Y
460,LP002478,NaN,Yes,0,Graduate,Yes,2083,4083.0,160.0,360.0,NaN,Semiurban,Y
467,LP002501,NaN,Yes,0,Graduate,No,16692,0.0,110.0,360.0,1.0,Semiurban,Y
477,LP002530,NaN,Yes,2,Graduate,No,2873,1872.0,132.0,360.0,0.0,Semiurban,N
507,LP002625,NaN,No,0,Graduate,No,3583,0.0,96.0,360.0,1.0,Urban,N
576,LP002872,NaN,Yes,0,Graduate,No,3087,2210.0,136.0,360.0,0.0,Semiurban,N
588,LP002925,NaN,No,0,Graduate,No,4750,0.0,94.0,360.0,1.0,Semiurban,Y
592,LP002933,NaN,No,3+,Graduate,Yes,9357,0.0,292.0,360.0,1.0,Semiurban,Y

In [9]:
import numpy as np
import pandas as pd

toy = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})


toy

       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

In [11]:
toy.isna().sum()

name    0
toy     1
born    2
dtype: int64

In [14]:
toy.dropna()

     name        toy       born
1  Batman  Batmobile 1940-04-25

In [15]:
toy.dropna(subset= ['toy'])

       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

# replace null values

In [ ]:
What are outliers in the data?

In [ ]:
An outlier is an observation that lies an abnormal distance from other values
in a random sample from a population. In a sense, this definition leaves it 
up to the analyst (or a consensus process) to decide what will be considered

In [19]:
import pandas as pd

df = pd.read_csv('train.csv')

df['Gender'].mode()[0]

'Male'

In [20]:
df['Credit_History']= df['Credit_History'].astype('object')

In [21]:
df['Credit_History'].value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [22]:
df['Credit_History']= df['Credit_History'].fillna('0.0')

In [28]:
df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [26]:
df['LoanAmount']= df['LoanAmount'].fillna(df['LoanAmount'].mean())

df.isna().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64