In [ ]:
Read and write with exeel 

use module 

xlrd      --> write in excel 

openpyxl  -->to read excel file in python
xlwt      --> xlrd module is used to extract data from a spreadsheet
SQLAlchemy-->SQl with python
psycopg2-binary

In [6]:
import pandas as pd 

# load data 
data = pd.read_csv('data.csv')

In [7]:
# get shape of data 
data.shape

(169, 4)

In [8]:
# get information about the csv file 

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [9]:
# LIST column name 

data.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [16]:
# LIST Raws  name 

data.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [ ]:
# LIST Raws  name 
with loc and oiloc

In [17]:
data.iloc[3]

Duration     45.0
Pulse       109.0
Maxpulse    175.0
Calories    282.4
Name: 3, dtype: float64

In [20]:
data.loc[3]

Duration     45.0
Pulse       109.0
Maxpulse    175.0
Calories    282.4
Name: 3, dtype: float64

In [25]:
# getting details of particular column in this raw calles by loc or iloc 

data.loc[3][2]

175.0

In [26]:
#getting details of more than 1, pass list

   Duration  Pulse  Maxpulse  Calories
2        60    103       135     340.0
4        45    117       148     406.0

In [34]:
# access column with column's index  in "iloc"

data.iloc[[2,4],2]

2    135
4    148
Name: Maxpulse, dtype: int64

In [35]:
# access column with column name in "loc"

data.loc[[2,4],'Pulse']

2    103
4    117
Name: Pulse, dtype: int64

In [36]:
# access column with column name in "loc"

data.loc[[2,4],['Pulse','Calories']]

   Pulse  Calories
2    103     340.0
4    117     406.0

In [38]:
data['Pulse'].value_counts()

100    19
90     12
103     9
109     9
107     8
108     7
110     7
97      7
111     6
106     6
105     6
102     6
98      6
104     4
114     4
115     3
95      3
118     3
93      3
92      3
136     3
117     3
150     2
123     2
151     2
80      2
112     2
101     2
99      2
152     1
129     1
149     1
141     1
137     1
153     1
130     1
113     1
125     1
124     1
122     1
121     1
120     1
119     1
116     1
83      1
85      1
159     1
Name: Pulse, dtype: int64

In [ ]:

# Apply works with series function
# data_frame

# function can be len, user defined function.
df['filter_column'].apply(function)

In [ ]:
Applymap module works on data_frames